*{margin: 0;
    padding: 0;}

body 
    {font-family: 'Poppins', sans-serif;}

.cabecalho 
    {background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;}

.cabecalho-imagem
    {width: 20%;}

.cabecalho-lista-item
    {display: inline-block;
    margin: 0 16px;
    font-size: 16px;}

.escola-imagem
    {width: 25%;}

.escola
    {background-image: linear-gradient(#ffae00,#fbff15);
    color:rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;}

.escola-div-conteudo
    {width: 35%;}

.escola-titulo
    {padding: 24px 0;}

.material
    {padding: 10px 0;}

.material-imagem
    {width: 120px;}

.material-div
    {text-align: center;
    padding: 20px 0;}

